node_modules/
.env
.env.local

# Blockchain
blockchain/cache/
blockchain/artifacts/
blockchain/deployed-addresses.json

# Backend
backend/tokenimmo.db
backend/tokenimmo.db-shm
backend/tokenimmo.db-wal

# Frontend
frontend/.next/
frontend/out/

# Misc
.DS_Store
*.log
